@charset "UTF-8";
html {
  font-size: 62.5%;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Verdana, "MS Pゴシック", sans-serif;
  background-color: #f9f8f6; }

a {
  text-decoration: none;
  color: #887f69; }
  a:hover {
    color: #a09884; }

img {
  max-width: 100%;
  height: auto; }

h4 {
  font-size: 16px;
  font-size: 1.6rem; }

header .navbar .pc-header {
  padding: 20px 0; }
  header .navbar .pc-header .navibox {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end; }
  header .navbar .pc-header ul {
    margin-bottom: 0; }
    header .navbar .pc-header ul li {
      list-style-type: none;
      display: inline-block;
      padding-right: 10px;
      margin-bottom: 0; }
      header .navbar .pc-header ul li i {
        width: 20px;
        height: 20px;
        padding-top: 6px;
        margin-top: 6px; }
header .navbar .sp-header {
  display: none; }
@media (max-width: 550px) {
  header .navbar .pc-header {
    display: none; }
  header .navbar .sp-header {
    display: block;
    padding-top: 20px; }
    header .navbar .sp-header #sp-header-title {
      display: -webkit-flex;
      display: flex;
      padding: 20px;
      text-align: center;
      -webkit-justify-content: center;
      justify-content: center; }
      header .navbar .sp-header #sp-header-title img {
        margin-left: auto;
        margin-right: auto; }
    header .navbar .sp-header #sp-header-list {
      text-align: center; }
      header .navbar .sp-header #sp-header-list #sp-header-toggle {
        display: none; }
        header .navbar .sp-header #sp-header-list #sp-header-toggle li {
          list-style-type: none; } }

#contents #main .sp {
  display: none; }
#contents #main .breadcrumb {
  margin: 0 0 10px 0;
  padding: 5px;
  background-color: #e2ddd4;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  #contents #main .breadcrumb:before {
    content: url(../images/list/home_icon.png); }
  #contents #main .breadcrumb li {
    list-style-type: none;
    display: inline-block;
    margin: 0; }
#contents #main #cover img {
  width: 100%;
  height: auto; }
#contents #main #new-items .new-items-title {
  margin: 20px 0; }
#contents #main #new-items .items {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 10px 0; }
  #contents #main #new-items .items .item {
    background-color: white;
    width: 33.3333%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border-right: 2px solid #f9f8f6;
    border-bottom: 2px solid #f9f8f6; }
    #contents #main #new-items .items .item img {
      width: 100%;
      height: auto; }
#contents #main #new-items .direction {
  overflow: hidden;
  *zoom: 1; }
  #contents #main #new-items .direction #back {
    display: inline-block;
    float: left;
    background-color: #887f69;
    padding: 10px 40px;
    color: white;
    font-weight: bold; }
    #contents #main #new-items .direction #back a {
      color: white; }
      #contents #main #new-items .direction #back a:hover {
        color: #e5e0d7; }
  #contents #main #new-items .direction #next {
    display: inline-block;
    float: right;
    background-color: #887f69;
    padding: 10px 40px;
    color: white;
    font-weight: bold; }
    #contents #main #new-items .direction #next a {
      color: white; }
      #contents #main #new-items .direction #next a:hover {
        color: #e5e0d7; }
@media (max-width: 550px) {
  #contents #main #new-items .new-items-title {
    display: none; }
  #contents #main #new-items .sp.new-items-title {
    display: block;
    text-align: center; }
  #contents #main #new-items .items {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }
    #contents #main #new-items .items .item {
      background-color: white;
      width: 50%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px;
      border-right: 2px solid #f9f8f6;
      border-bottom: 2px solid #f9f8f6; }
      #contents #main #new-items .items .item img {
        width: 100%;
        height: auto; }
  #contents #main #new-items .direction #back {
    display: inline-block;
    float: left;
    background-color: #887f69; }
    #contents #main #new-items .direction #back a {
      color: #f9f8f6; }
      #contents #main #new-items .direction #back a:hover {
        color: #e5e0d7; }
  #contents #main #new-items .direction #next {
    display: inline-block;
    float: right;
    background-color: #887f69; }
    #contents #main #new-items .direction #next a {
      color: #f9f8f6; }
      #contents #main #new-items .direction #next a:hover {
        color: #e5e0d7; } }
#contents #main #watched-items .watched-items-title {
  margin: 20px 0; }
#contents #main #watched-items .items {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }
  #contents #main #watched-items .items .item {
    background-color: white;
    width: 33.3333%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border-right: 2px solid #f9f8f6;
    border-bottom: 2px solid #f9f8f6; }
    #contents #main #watched-items .items .item img {
      width: 100%;
      height: auto; }
@media (max-width: 550px) {
  #contents #main #watched-items .watched-items-title {
    display: none; }
  #contents #main #watched-items .sp.watched-items-title {
    display: block;
    text-align: center; }
  #contents #main #watched-items .items {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }
    #contents #main #watched-items .items .item {
      background-color: white;
      width: 50%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px;
      border-right: 2px solid #f9f8f6;
      border-bottom: 2px solid #f9f8f6; } }
#contents #main #shopping-guide {
  margin: 20px 0; }
  #contents #main #shopping-guide .shopping-guide-title {
    margin: 20px 0; }
  #contents #main #shopping-guide .row {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: stretch;
    align-items: stretch; }
    #contents #main #shopping-guide .row #derivery-description {
      background-color: white;
      padding: 10px; }
      #contents #main #shopping-guide .row #derivery-description h4 {
        font-size: 16px;
        font-size: 1.6rem;
        color: #887f69;
        font-weight: bold; }
      #contents #main #shopping-guide .row #derivery-description div h4 {
        margin-bottom: 0;
        color: #887f69;
        list-style-type: square;
        font-weight: bold;
        font-size: 14px;
        font-size: 1.4rem; }
        #contents #main #shopping-guide .row #derivery-description div h4 span {
          font-size: 22px;
          font-size: 2.2rem; }
      #contents #main #shopping-guide .row #derivery-description div p {
        font-size: 12px;
        font-size: 1.2rem;
        margin-bottom: 10px; }
    #contents #main #shopping-guide .row #cashing {
      padding: 10px;
      background-color: white; }
      #contents #main #shopping-guide .row #cashing h4 {
        font-size: 16px;
        font-size: 1.6rem;
        color: #887f69;
        font-weight: bold; }
      #contents #main #shopping-guide .row #cashing div h4 {
        margin-bottom: 0;
        color: #887f69;
        font-weight: bold;
        font-size: 14px;
        font-size: 1.4rem; }
        #contents #main #shopping-guide .row #cashing div h4 span {
          font-size: 22px;
          font-size: 2.2rem; }
      #contents #main #shopping-guide .row #cashing div p {
        font-size: 12px;
        font-size: 1.2rem;
        margin-bottom: 10px; }
@media (max-width: 550px) {
  #contents #main #shopping-guide .shopping-guide-title {
    display: none; }
  #contents #main #shopping-guide .sp.shopping-guide-title {
    display: block;
    text-align: center; }
  #contents #main #shopping-guide .row {
    -webkit-flex-direction: column;
    flex-direction: column; }
    #contents #main #shopping-guide .row #derivery-description {
      margin-bottom: 10px; }
      #contents #main #shopping-guide .row #derivery-description h4 {
        font-size: 22px;
        font-size: 2.2rem; }
      #contents #main #shopping-guide .row #derivery-description ul li {
        font-size: 20px;
        font-size: 2rem; }
      #contents #main #shopping-guide .row #derivery-description ul p {
        font-size: 14px;
        font-size: 1.4rem; }
    #contents #main #shopping-guide .row #cashing {
      margin-bottom: 10px; }
      #contents #main #shopping-guide .row #cashing h4 {
        font-size: 22px;
        font-size: 2.2rem;
        margin-bottom: 0; }
      #contents #main #shopping-guide .row #cashing div h4 {
        font-size: 16px;
        font-size: 1.6rem;
        margin: 0; }
      #contents #main #shopping-guide .row #cashing div p {
        font-size: 14px;
        font-size: 1.4rem; } }
#contents #sidebar .side-title {
  background-color: #887f69;
  padding: 10px; }
#contents #sidebar #item-search {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px; }
  #contents #sidebar #item-search .input-tag {
    background-color: #f9f8f6;
    position: relative; }
    #contents #sidebar #item-search .input-tag input {
      background-color: #f9f8f6;
      width: 80%;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      border: 0;
      margin: 0;
      font-style: italic;
      color: black; }
      #contents #sidebar #item-search .input-tag input:placeholder-shown {
        color: #bcb19a; }
      #contents #sidebar #item-search .input-tag input::-webkit-input-placeholder {
        color: #bcb19a; }
      #contents #sidebar #item-search .input-tag input:-moz-placeholder {
        color: #bcb19a;
        opacity: 1; }
      #contents #sidebar #item-search .input-tag input::-moz-placeholder {
        color: #bcb19a;
        opacity: 1; }
      #contents #sidebar #item-search .input-tag input:-ms-input-placeholder {
        color: #bcb19a; }
    #contents #sidebar #item-search .input-tag img {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 18px;
      height: 18px;
      padding-right: auto;
      padding-left: auto; }
#contents #sidebar #pagelink {
  background-color: white;
  margin-bottom: 10px; }
  #contents #sidebar #pagelink .side-title {
    background-color: #887f69;
    padding: 10px;
    position: relative; }
    #contents #sidebar #pagelink .side-title .title-icon {
      position: absolute;
      top: 18px;
      right: 15px; }
  #contents #sidebar #pagelink ul {
    margin: 0; }
    #contents #sidebar #pagelink ul li {
      display: none;
      position: relative;
      list-style-type: none;
      padding: 10px;
      border-bottom: 1px solid #887f69;
      margin: 0; }
      #contents #sidebar #pagelink ul li a {
        text-align: left; }
      #contents #sidebar #pagelink ul li img {
        position: absolute;
        top: 15px;
        right: 15px; }
#contents #sidebar #categories {
  margin-bottom: 10px; }
  #contents #sidebar #categories #side-title {
    background-color: #887f69;
    padding: 10px;
    position: relative; }
    #contents #sidebar #categories #side-title .title-icon {
      position: absolute;
      top: 15px;
      right: 15px; }
  #contents #sidebar #categories ul li {
    position: relative;
    list-style-type: none;
    padding: 10px;
    background-color: white;
    margin: 0;
    border-bottom: 1px solid #f9f8f6; }
    #contents #sidebar #categories ul li img {
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer; }
#contents #sidebar #about .side-title {
  background-color: #887f69;
  padding: 10px; }
#contents #sidebar #about #about-content {
  padding: 10px;
  margin-bottom: 10px;
  background-color: white; }
  #contents #sidebar #about #about-content img {
    display: block;
    margin-left: auto;
    margin-right: auto; }
@media (max-width: 550px) {
  #contents #sidebar #about #about-content {
    padding: 10px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }
    #contents #sidebar #about #about-content img {
      max-width: 50%;
      height: auto;
      display: block;
      margin-left: 0; }
    #contents #sidebar #about #about-content .about-description {
      width: 48%;
      padding-left: 2%; } }
#contents #sidebar #shopinfo .side-title {
  background-color: #887f69;
  padding: 10px; }
#contents #sidebar #shopinfo #shopinfo-content {
  padding: 10px;
  margin-bottom: 10px;
  background-color: white; }
  #contents #sidebar #shopinfo #shopinfo-content img {
    display: block;
    margin-left: auto;
    margin-right: auto; }
@media (max-width: 550px) {
  #contents #sidebar #shopinfo #shopinfo-content {
    padding: 10px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }
    #contents #sidebar #shopinfo #shopinfo-content img {
      max-width: 50%;
      height: auto;
      display: block;
      margin-left: 0; }
    #contents #sidebar #shopinfo #shopinfo-content .shopinfo-description {
      width: 48%;
      padding-left: 2%; } }
#contents #pagetop {
  text-align: right; }
@media (max-width: 550px) {
  #contents #pagetop {
    text-align: center;
    font-weight: bold; } }

footer {
  padding-top: 20px; }
  footer ul {
    text-align: center;
    border-top: 2px solid #887f69;
    padding-top: 20px; }
    footer ul li {
      display: inline-block;
      list-style-type: square;
      padding-right: 20px; }
      footer ul li a {
        color: black; }
        footer ul li a:before {
          content: '・'; }
  footer p {
    color: #b6b0a1;
    text-align: center; }

/*# sourceMappingURL=list-style.css.map */
